
table.comment {
	font-size: 10pt;
	margin-bottom: 15px;
}



.pop-layer .pop-container {
  padding: 20px 25px;
}

.pop-layer p.ctxt {
  color: #666;
  line-height: 25px;
}

.pop-layer .btn-r {
  width: 100%;
  margin: 10px 0 20px;
  padding-top: 10px;
  border-top: 1px solid #DDD;
  text-align: right;
}

.pop-layer {
  /* display: none; */
  width: 410px;
  height: auto;
  
  background-color: #fff;
  border: 5px solid #3571B5;
  z-index: 10;
  
  margin-top: -50px; margin-left: -50px; position: fixed; top: 40%; left: 40%;
  
  box-shadow: 0 0 0 9999px rgba(0,0,0,0.5);
}

a.btn-layerClose {
  display: inline-block;
  height: 25px;
  padding: 0 14px 0;
  border: 1px solid #304a8a;
  background-color: #3f5a9d;
  font-size: 13px;
  color: #fff;
  line-height: 25px;
}

a.btn-layerClose:hover {
  border: 1px solid #091940;
  background-color: #1f326a;
  color: #fff;
}


#content1 {
  position: absolute; 
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto; 
  margin-top: auto; 
  margin-bottom: auto; 
  width: 100px; /* Need a specific value to work */
}
